@model IncidentListViewModel

@{
	ViewData["Title"] = "Incidents";
}

@{
	string title = ViewBag.Action;
	ViewBag.Title = title;
}

<h1>Incident Manager</h1>

<form asp-action="Filter" method="post">
	<ul class="nav nav-pills">
		<li class="nav-item">
			<button name="filter" class="nav-link @(ViewBag.ActiveFilter == "All" ? "active" : "")" data-bs-toggle="pill" type="submit" value="All">
				All Incidents
			</button>
		</li>
		<li class="nav-item">
			<button name="filter" class="nav-link @(ViewBag.ActiveFilter == "Unassigned" ? "active" : "")" data-bs-toggle="pill" type="submit" value="Unassigned">
				Unassigned Incidents
			</button>
		</li>
		<li class="nav-item">
			<button name="filter" class="nav-link @(ViewBag.ActiveFilter == "Open" ? "active" : "")" data-bs-toggle="pill" type="submit" value="Open">
				Open Incidents
			</button>
		</li>
	</ul>
</form>
<p></p>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Customer</th>
			<th>Product</th>
			<th>Date Opened</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var i in Model.Incidents)
		{
			<tr>
				<td>@i.Title</td>
				<td>@i.Customer.FullName</td>
				<td>@i.Product.Name</td>
				<td>@i.DateOpened</td>
				<td><a class="btn btn-primary" asp-controller="Incident" asp-action="Edit" asp-route-id="@i.IncidentID">Edit</a></td>
				<td><a class="btn btn-primary" asp-controller="Incident" asp-action="Delete" asp-route-id="@i.IncidentID">Delete</a></td>
			</tr>
		}
	</tbody>
</table>
<a class="btn btn-primary" asp-controller="Incident" asp-action="Add">Add Incident</a>